@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Overpass:wght@300&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #3a3a3a;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    float: left;
    color: red;
    font-size: 400%;
    line-height: 100px;
}

/* navigation */

#menu {
    font-size: 120%;
    letter-spacing: 5px;
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 4px solid #B22222;
}

.active {
    border-bottom: 4px solid #B22222;
}


/* main image */ 

#main-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    background: url('../images/peter-conlan-LEgwEaBVGMo-unsplash\ \(2\).jpg') center 10% / cover no-repeat; ;
    height: 50vh
}

/* about */

#everydays-hacks-intro {
    height: 1000px;
}

#tilte-hacks-intro {
    text-align: center;
    font-size: 250%;
    padding: 1%;
 }

/* everyday hacks */

#everydays-hacks {
    height: 800px;
}

#left-part {
    padding-top: 30px;
    width: 50%;
    float: left;
    clear: both;
}

#subimage-left {
    background: url('../images/louis-hansel-s9Yc_FqP2q0-unsplash\ \(1\).jpg') no-repeat center;
    width: 50%;
    height: 500px;
    float: right;
}

#right-part {
    padding-top: 30px;
    width: 50%;
    float: right;
    clear: both;
}

#subimage-right {
    background: url('../images/ferenc-almasi-2bXo_nmccSU-unsplash\ \(1\).jpg') no-repeat center;
    width: 50%;
    height: 500px;
    float: right;
}

.left-part-heading {
    width: 100%;
    float: left;
    line-height: 35px;
    margin-bottom: 70px;
}

hr {
    border-top: 2px solid #2a2a2a;
    width: 35%;
}

.left-part-heading > hr {
    border-top: 2px solid #2a2a2a;
    width: 15%;
}

.right-part-heading > hr {
    border-top: 2px solid #2a2a2a;
    width: 33%;
}

#relax-hr {
    border-top: 2px solid #2a2a2a;
    width: 35%;
}

.right-part-heading {
    width: 100%;
    float: right;
    line-height: 35px;
    margin-bottom: 50px;
}

#tilte-hacks {
   text-align: center;
   margin: 50px 0;
   font-size: 280%; 
}

/* Mind Hacks */

#mind-hacks {
    height: 800px;
    background-color: aquamarine;
    clear: both;
}

#subimage-right-mind {
    background: url('../images/windows-wpIYy2lZ04s-unsplash.jpg') no-repeat center;
    width: 50%;
    height: 600px;
    float: right;
    margin: 60px 0;
}

/* productivity hack */

#productive-hacks {
    height: 800px;
    clear: both;
}

#subimage-right-productive {
    background: url('../images/malvestida-FfbVFLAVscw-unsplash.jpg') no-repeat center;
    width: 50%;
    height: 550px;
    float: left;
}

/* footer */

footer {
    height: 150px;
    background-color: aquamarine;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 275%;
    margin: 2.5%;
    color: red;
}

/* form */

.submit-section {
    clear: left;
    background: url("../images/mohamed-nohassi-odxB5oIG_iA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 1350px;
}

.submit-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 50px;
}

.submit-form > h2 {
    color: #fafafa;
    margin-bottom: 40px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 20px 0 50px 0;
    border: 1px solid #fafafa;
    border-radius: 50px;
}

.text-input:hover {
    border-color: #d5c734;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #cb1919;
    color: #000000;
    display: block;
}

.submit-button:hover {
    background-color: #db0404;
    color: #d2c403;